<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LostComments">

<resultMap type="LostComments" id="lostCommentsType">
      <id column="lostcomments_id" property="lostcomments_id"/>
      <result column="lostboard_id" property="lostboard_id"/>
      <result column="secret" property="secret"/>
      <result column="content" property="content"/>
      <result column="regdate" property="regdate"/>
      <result column="team" property="team"/>
      <result column="rank" property="rank"/>
      <result column="depth" property="depth"/>
      <association column="member_id" property="member" javaType="Member" select="Member.select"></association>
   </resultMap>

<sql id="sql_select">
	select lostcomments_id, secret, content, regdate, team, rank, depth, lostboard_id, member_id from lostcomments
</sql>

<select id="select" parameterType="int" resultMap="lostCommentsType">
	<include refid="sql_select"/> where lostboard_id=#{lostboard_id}
</select>	

<delete id="delete" parameterType="int">
	delete from lostcomments where lostboard_id=#{lostboard_id}
</delete>

</mapper>